name: CI Release

on:
  push:
    branches:
      - main

jobs:
  frontend:
    name: Build Frontend
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

        
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
            node-version: '18'

      - name: Install dependencies
        run: npm ci
        working-directory: ./frontend

      - name: Build React app
        run: npm run build
        working-directory: ./frontend

      - name: Upload frontend artifact
        uses: actions/upload-artifact@v4
        with:
            name: frontend-build
            path: ./frontend/dist


  backend:
    name: Build Backend
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Publish .NET app
        run: dotnet publish ./ParkNDeploy.Api.csproj -c Release -o publish
        working-directory: ./backend

      - name: Verify publish folder
        run: ls -la ./backend/publish

      - name: Upload backend artifact
        uses: actions/upload-artifact@v4
        with:
          name: backend-publish
          path: ./backend/publish
